<h2>Search Phone</h2>>
<form action="/phones" method="GET">
    <div>
        <label>Model    </label>
        <input type="text" name="model" value="<%= searchOptions.model %>">
    </div>
    <div>
        <label>Realese Date</label>
        <input type="date" name="releaseDate" value="<%= searchOptions.releaseDate %>">
    </div>
    <button type="submit">Search</button>
</form>
<div>
    <% phones.forEach(phone => { %>
        <img height="150" width="100" src="<%= phone.coverImagePath %>">
    <% }) %>
</div>