<h2>New Phone</h2>
<form action="/phones" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/phones">Cancel</a>
    <button type="submit">Add</button>
</form>